# turn new php version
AddHandler application/x-httpd-php55 .php .php5 .php4 .php3 

#images|styles|scripts|uploads|_manager|_website|_cache|
RewriteRule ^(images|styles|scripts|flash|files|files_pre|_plugins|.*\.(doc|docx|xls|xlsx|css|js|jpg|mp3|jpeg|gif|swf|xml|png|pdf|ico|zip|rar|php|html|txt|sql|woff|eot|ttf|svg|csv)) - [L]

RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . open.php [QSA,L]
# choose opener file
DirectoryIndex open.php 

# block access to some sensible files
<Files ~ "^sftp-config.json|.git|.htaccess|config.php|functions|backup|controller|model|view|_plugins|_temporaty">
  Order allow,deny
  Deny from all
</Files>

<IfModule php5_module>
    php_flag session.cookie_httponly on
</IfModule>

# force non-www domain
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]