
@media (min-width: 993px){
	.navbar-trade .navbar-collapse {
		margin-left:-15px;
		margin-right:-15px;
	}
	
	.navbar-trade .nav > li.active a,
	.navbar-trade .nav > li > a:hover {background: url('../img/menu_bg.png') bottom; background-size:auto 100%;}
	.navbar-trade .nav > li.active a:after,
	.navbar-trade .nav > li > a:hover:after {
	 	
	}
	 
	.navbar-trade .nav > li > a:before {
		content:" ";
		background:url('../img/menu_a_border.png');
		height:34px;
		width:1px;
		position:absolute;
		left:0;
		top:10px
	}
	.navbar .nav {
		margin: 0;
		display: table;
		width: 100%;
	}
	.navbar .nav li {
		display: table-cell;
		width:auto;
		float: none;
		text-align:center;
	}

	.navbar-trade .nav > li:first-child a:before{background:none}
	.btn-service_item {width:120px; margin-bottom:6px; display:inline-block;}
	#sidebar {width:21%;}
	#content {width:79%;}
	.getsadze_design {  
		height: 100%;
		display: inline-block;
		margin-top: 50px;
	}
	.contact_btn{width:50%;}
	
	.export_companies .filter_content  .itemssss {		
		display: table-cell;
		text-align:left;
	}
	
	.admin_inputs {  
	display: table;
	width:100%;
	}
	.admin_inputs .col-sm-3 {
		padding: 10px; 
		height: 100%;
		font-size: 15px;
		position: relative;
		float:none;
		display:table-cell;
	}
	 
	.admin_inputs .col-sm-3:last-child {
		vertical-align:bottom
	} 
	.admin_inputs .col-sm-3 .btn {margin-bottom:15px; float:right}
	#page_enquires_popup .modal-dialog {width:750px !important;}
	#navbar-height-col {display:none;}
	
}



@media (max-width: 992px){
	.navbar-trade {
		background:none;
	}
	
	.navbar-trade .navbar-collapse {
		margin-left:0px;
		margin-right:0px;
	}
	.navbar-trade .nav > li > a:hover {}
	.navbar-trade .nav > li.active a:after {
		content:" ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 0 5px 12px;
		border-color: transparent transparent transparent #fff;
		position:absolute;
		left:-5px;
		top:22px;
		
	}
	
	.navbar-trade .nav > li > a:hover {opacity:0.7}
	
	.navbar-trade .nav > li > a {
		background:url('../img/responsive_menu_line.png') no-repeat bottom ;
		background-size:100% auto;
	}
	
	.navbar-trade .nav > li:last-child a {background:none;}
	
	.logo_text {font-size:40px !important; margin-top:20px !important;} 
	.logo_text img{height:65px;margin-top: -5px;}
	#footer_div_2 > #footer_2 {text-align:center;}
	#sidebar {width:100% !important;}
	#content {width:100% !important; padding-left:0 !important}
	table.blue_table {width:100%;}
	.getsadze_design {  
		height: 100%;
		display: inline-block;
	}
	.useful_div .useful_item {text-align:center;}.export_companies .filter_content .content_divs {display:inline-block !important;}
	
	.head_contact {display:none;}
	.header_map {display:none;}
	#header {background-image:none; min-height:100px;}
	
	#footer_div > #footer #footer_links {display:none;}
	#footer_2 .padding_0 {text-align:left;}
	.getsadze_design{float:right}
}

@media (max-width: 460px){
	.contact_person .col-sm-4{width:100% !important;}
	#events_items .col-sm-4 {width:100% !important;}
	#events_items > .event_item .image {height:auto;}
	.news_div .col-sm-4 {width:100% !important;}
	.news_div .news_item .text {min-height:51px}
	
}


@media (max-width: 1200px) {
	.navbar-trade .nav > li > a {font-size:18px;}
	#content {padding-left:30px; width:75%;}
	#sidebar {width:25%;}
	.slider_info  {bottom:35px;}
}



@media (max-width: 992px) {
.navbar-trade .nav > li  {}
	.navbar-trade .nav > li > a {font-size:20px; padding: 16px 17px;}
	/*.logo_text {width:100%;text-align:center;}*/
	#header_line {margin-bottom:0px !important}
	.header_map {width:40%; float:left; }
	/*.head_contact {width:60%; float:left;} */
	
	
	 
}



@media (min-width: 992px) {
	.head_contact,
	.logo_text,
	.header_map {margin-top:30px;} 
	
	.carousel-caption {
		left: 50%;
		width: 992px;
		margin-left: -480px;
	}
}
 
@media (min-width: 1200px) {
	#home_slider {height:432px;}
	#home_slider .carousel-inner {min-height:432px;}
	#home_slider .carousel-inner .item  img{min-height:432px; min-width:100%;} 	
	.sidebar_menu {width:235px;}
	#sidebar {width:26% !important;}
	#content {width:74%;}
	.carousel-caption {
		left: 50%;
		width: 1170px;
		margin-left: -585px;
	}
	#home_slider .carousel-caption .col-sm-4 {width:330px !important;}
	
}

