/*@font-face {
    font-family: 'bpg_sans_web';
    src: url('../fonts/bpg_sans_web.eot');
    src: url('../fonts/bpg_sans_web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_sans_web.ttf') format('truetype');
}*/
@font-face {
  font-family: 'bpg_caps';
  src: url('../fonts/BPGBannerCaps.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BPGBannerCaps.woff') format('woff'), 
  url('../fonts/BPGBannerCaps.ttf')  format('truetype'), 
  url('../fonts/BPGBannerCaps.svg#BPGBannerCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bpg_sans_web';
  src: url('../fonts/BPGSuperSquare.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BPGSuperSquare.woff') format('woff'),
   url('../fonts/BPGSuperSquare.ttf')  format('truetype'), 
   url('../fonts/BPGSuperSquare.svg#BPGSuperSquare') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'bpg_sans_web';
    src: url('../fonts/bpg_web_002.eot');
    src: url('../fonts/bpg_web_002.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_web_002.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
body{ font-family: 'bpg_sans_web' !important; }
.navbar-enterprise .nav > li > a{ font-family: 'bpg_caps' !important; font-weight: bold; font-size: 11px; padding:0 2px;  }
.page_title_2{ font-family: 'bpg_caps' !important; padding-bottom: 10px; font-size: 25px;  }
.page_title_6{ font-family: 'bpg_caps' !important; font-size: 16px; }
.home_news_events .home_news_event_tab a{ font-size: 8px; }
.sme_service .text{ font-size: 16px; }
#footer_div a span{ font-family: 'bpg_caps' !important; }
.sme_service .title{ font-family: 'bpg_caps' !important; font-size: 16px; font-weight: bold; }
#home_subscribe .item .title{ font-family: 'bpg_caps' !important; font-size: 16px; }
.slider_info .title{ font-family: 'bpg_caps' !important; font-size: 25px; }
.slider_info .text{ font-size: 16px; clear: both; }
#featured li.ui-tabs-nav-item a div{ font-family: 'bpg_sans_web'; font-size: 12px; }
#featured li.ui-tabs-nav-item a span{ font-family: 'bpg_caps' !important; font-size: 14px; }
#live_chat_div a{ font-size: 12px; }
#live_chat_div li, #header_contact li{ font-size: 12px; }
.navbar-enterprise .dropdown-menu-2 li a{ font-size: 12px; }
.sidebar_menu ul li a{ font-size: 14px; }
.news_div .news_item .text{ font-size: 12px; }
.bunnerText h4{ font-family: 'bpg_caps'; font-size: 18px; }
.bunnerText p{ font-family: 'bpg_sans_web'; }
.bunnerText span{ font-family: 'bpg_sans_web'; }
.enter_the_website a{ font-family: 'bpg_sans_web'; font-size:22px; }
@media (max-width: 992px){
  .enter_the_website a{ font-size:10px; }
  #welcome_content #or_find_out_more div{ font-size: 14px; }
}