#featured{  
 
	position:relative; 
	min-height:340px; overflow:hidden;
	background:#fff;
	margin-top:5px;
}
#featured ul.ui-tabs-nav{  
	top:0; left:785px; 
	list-style:none; 
	padding:0; margin:0; 
	 
	overflow:auto;
	overflow-x:hidden;
	z-index:99
}






#featured ul.ui-tabs-nav li{ 
	padding:1px 0; 
	padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; 
	margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	text-decoration:none;
	color:#fff; 
	line-height:20px; outline:none;
	width:100%;
	height:84px;
	background-color: rgba(27, 121, 193,0.6); 
	font-size:15px !important;
	padding:5px 8px;
}
#featured li.ui-tabs-nav-item a {font-size:14px !important; font-weight:normal;font-family: 'Roboto', sans-serif;}
#featured li.ui-tabs-nav-item a span {font-weight:bold; font-size:15px;font-family: 'Roboto', sans-serif; width:100%;}

#featured li {position:relative;}

@media (min-width: 993px){
		#featured li.ui-tabs-active:after {
			content:" ";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 12px 7px 0;
			border-color: transparent #1782c6 transparent transparent;
			position:absolute; top:50%;
			z-index:999;
			left:1px;
			margin-top:-7px;
			z-index:9;
		}

		#featured li.ui-tabs-active:before {
			content:" ";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9px 14px 9px 0;
			border-color: transparent #fff transparent transparent;
			position:absolute; top:50%;
			z-index:999;
			left:-2px;
			margin-top:-9px;
			z-index:9;
		}
		
	#featured ul.ui-tabs-nav {height:344px;}	
		
}





 


#featured li.ui-tabs-nav-item a:hover{ 
	background:#1782c6; 
}
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	background:url('images/selected-item.gif') top left no-repeat;  
	
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	background:#1782c6; 

	
}
#featured .ui-tabs-panel{ 
	width:calc(100% + 9px); 
	height:344px; 
	background:#999; 
	position:relative;
}

.slider_info {position:absolute; bottom:20px; left:10px; width:79%;}
.slider_info .title {font-weight:bold; font-size:28px; padding-left:5px; width:auto; color:#fff; background:rgba(255,126,0,0.8); margin-bottom:4px; display:inline; position:relative; padding-right:5px;}
.slider_info .text{position:relative; font-size:25px; color:#fff; background:rgba(255,126,0,0.8); padding-left:5px; display:inline-block;
}



#featured .ui-tabs-panel {overflow:hidden;}
#featured .ui-tabs-panel {min-width:100%;}
#featured .ui-tabs-panel img { min-width:100%; min-height:344px;}

#featured .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; left:0; 
	height:70px; 
	background: url('images/transparent-bg.png'); 
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:11px; font-family:Verdana; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font-size:1.2em; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0; font-weight:normal;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}


@media (max-width: 992px){ 
	#featured ul.ui-tabs-nav li {padding:0 !important; margin-top:3px; width:100%;}
	#featured ul.ui-tabs-nav li a{height:15px; color:#76afda; overflow:hidden;}
	#featured ul.ui-tabs-nav li a div {display:none;}
	
	#featured ul.ui-tabs-nav {display:table; width:100%;}
	#featured ul.ui-tabs-nav  li {display:table-cell; border:solid #fff 2px; width:auto;}
	#featured ul.ui-tabs-nav  li:first-child {border-left:0;}
	#featured ul.ui-tabs-nav  li:last-child {border-right:0;}
	
	 
	
	 


	
}


 
	.slider_info .text:after,
	.slider_info .title:after {
		content:" ";
		background:url('../img/slide_title_bg.png');
		background-size:100% 100%;
		height:100%;
		width:20px;
		position:absolute; 
		left:100%;
		top:0;
		}
 
