* {outline:none !important;}
html,body {
font-family: 'Roboto', sans-serif;
font-size:13px;
padding:0 !important;
background:url('../img/bg_1.jpg') no-repeat center;
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(bg.png) repeat 0 0, url(../img/bg_1.jpg);
background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%), url(../img/bg_1.jpg);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.8))), url(../img/bg_1.jpg);
background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(../img/bg_1.jpg);
background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(../img/bg_1.jpg);
background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(../img/bg_1.jpg);
background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(../img/bg_1.jpg);	
background-size:100%; 
background-attachment:fixed;
height: 100%; overflow-x:hidden;
} 
hr{border-bottom:solid #0278c1 1px; margin:0; margin:10px 0;}
ul{margin:0; padding:0;}
/* START WELCOME */
#welcome_page {
height:100%;
min-height: 100%;
max-height:100%;
display: block;
}
#welcome_header {
background:url('../img/welcome_head_bg.jpg');
background-size:100%;
padding:27px;  
width:100%;
height:30%;
max-height:30%; 
color:#efefef;
position:relative;
}
#welcome_border {background:url('../img/welcome_head_border.jpg'); height:5px; width:100%; position:absolute; left:0; bottom:-4px;}
#welcome_logo {height:100%; width:50%; display:inline-block} 
#welcome_logo img{max-height:100%; max-width:50%;}
#welcome_logo_2 {float:right; height:60%; display:block; width:50%; text-align:right; margin-top:10px;}
#welcome_logo_2 img{max-height:100%; max-width:50%;}
.enter_the_website {margin-top:20px;}
.enter_the_website a{
font-weight:bold;
color:#334d9f; 
font-size:27px;
background:url('../img/enter_the.png') no-repeat right;
padding-right:35px;
text-decoration:none;
}
#welcome_content{
background:#fff;
background-size:100% 100%;
width:100%;	 
padding:27px 34px;  
width:100%;
height:58%;
max-height:58%; 
padding:10px;
color:#efefef;
padding:10px 26px;
}
#welcome_content .items_div {width:20%; display:inline-block; padding:15px; position:relative;}
#welcome_content .item  {position:relative;}
#welcome_content .item  .image img {width:100%; border-radius:5px;}
#welcome_content .item  .image {}
#welcome_content .item  .title {
background:rgba(93,192,255, 0.6); 
color:#fff; font-size:18px; 
position:absolute; 
top:50%; 
left:0; 
width:100%;
margin-top:-20px;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}
#welcome_content .items_div  .text  {
font-size:13px;
color:#20409a;
text-align:center;
padding-top:5px;
}
@media (min-width: 768px) {
#welcome_content .items_div {
width: 20%;
float: left;
}
}
@media (min-width: 992px) {
#welcome_content .items_div {
width: 20%;
float: left;
}
}
@media (min-width: 1200px) {
#welcome_content .items_div {
width: 20%;
float: left;
}
}
#welcome_content #or_find_out_more {
float:right;
display:inline-block;
width:100%;
text-align:right;
padding-right:15px;
margin-bottom:11px;
margin-top:30px;
}
#welcome_content #or_find_out_more div{
font-weight:bold;
font-size:21px;
color:#fff; 
padding:1px 10px;
text-decoration:none;
background:#ffba00 url('../img/or_find.jpg') no-repeat left;
padding-left:88px;
display:inline;
}
#welcome_footer{
background:url('../img/welcome_footer_bg.jpg');
background-size:100% 100%;
width:100%;	 
padding:27px 34px; 
height:12%;
max-height:12%; 
padding:10px;
color:#efefef;
position:absolute;
}
#welcome_footer #welcome_border {top:-4px}
/* END WELCOME */
.header_search {color:#fff;}
.header_search .input-group-addon { background-color: rgba(27, 121, 193,1); border:none;color:#fff; font-size:18px; font-weight:normal}
.header_search  input{background-color: rgba(23, 131, 198, 0.4); border:none !important;  border-radius:0;
border-top-left-radius:5px !important; border-bottom-left-radius:5px !important; color:#fff; font-size:15px; font-weight:medium;}
.header_search .input-sm {height:28px;}
.header_search input::-moz-placeholder {
color: #fff !important;
opacity: 1;
}
.header_search input:-ms-input-placeholder {
color: #fff !important;
}
.header_search input::-webkit-input-placeholder {
color: #fff !important;
}
.language {}
.language img{width:16px;height:14px; margin-left:5px; border-radius:50%;}
.language .active {opacity:0.6}
header{ 
display:block
}
.header_top {
background:#009dff;
padding:5px;
color:#fff;
}
.header_top  .top_menu a{color:#fff; text-decoration:none; margin-right:10px; padding-left:10px;}
.header_top  .top_menu:first-child  a{margin-left:0;}
#header_2 {
}
#header_2 .logo_text{
font-size: 50px;
color: #244396;
font-family: bebas_Neue_bold;
margin-top: 15px;
}
#header_2 .logo_text a {color:#fff; text-decoration:none;}
#header_2 .logo_text a:hover {opacity:0.7;}
#header_contact {
color:#244396;
background:url('../img/header_tel_icon.png') no-repeat right;
padding:2px 30px 2px 0;
margin-top:10px;
display:inline-block;
margin-left:30px;
}
#live_chat_div li,
#header_contact li {
list-style:none;
font-size:13px;	
line-height:17px;
font-weight:normal;
}
#live_chat_div li  span,
#header_contact li  span {
font-weight:bold;
font-size:15px;
}
#live_chat_div {
font-weight:bold;
color:#244396;
font-size:17px;
background:url('../img/live_chat_icon.png') no-repeat right;
padding:2px 30px 2px 0;
display:inline-block;
}
#live_chat_div a {color:#244396; text-decoration:none;}
#live_chat_div a:hover {text-decoration:underline}
/* START TOP MENU */
.navbar-enterprise{
background:#fff;
border-radius:0;
min-height:23px;
border:none; 
z-index:99;
position:relative;
display:block;
padding-top:1px;
margin-bottom:12px;
}
.navbar-enterprise .navbar-toggle {
border:solid #fff 3px;
border-radius:0;
box-shadow:none;
}
.navbar-enterprise .navbar-toggle .icon-bar {
background:#24387d;
width:24px;
height:3px;
}
.navbar-enterprise .nav > li > a {
color:#244396;
font-family: 'Roboto', sans-serif;
font-size:13px; 
font-weight:bold;
padding:1px;
padding-bottom:0;
border-bottom:solid #fff 3px;
margin-bottom:2px;
display:inline;
}
.sub_menu_arrow{position:relative;}
.sub_menu_arrow:before {
content:"";
position:absolute; right:0;
color:#1782c6;
background:url('../img/menu_arrow.png') no-repeat;
width:10px;
height:6px;
top:50%;
right:-10px;
margin-top:-3px;
}
.navbar-enterprise .nav > li.active a,
.navbar-enterprise .nav > li > a:hover {border-bottom:solid #ff7b02 3px; background:none;}
.navbar-enterprise .nav > li > a:focus {
outline: 0;
background:none;
}
/* END TOP MENU */
.career_opp {margin-top:70px; display:inline-block; width:100%; color:#244396; font-size:20px; border-top:solid #244396 1px; border-bottom:solid #244396 1px; padding:4px 0}
.job_title_list  {margin-top: 7px;  margin-bottom: 0px;  display: inline-block;  width: 100%; background:#fff; box-shadow: 0 0 10px #ccc; padding:8px 5px;}
.job_title_list li {list-style:none; color:#244396; font-size:15px; font-weight:normal; margin-bottom:0;}
.job_title_list li span {font-weight:bold;}
.job_title_list li label {float:right; font-weight:normal} 
.contact_us_vakansy .text_formats {box-shadow: 0 0 10px #ccc; background:#fff;padding:10px; margin-top:-5px;}
.contact_page_div {box-shadow: 0 0 10px #ccc; background:#fff; display:inline-block; padding:10px;} 
/* START CONTAINER */
.home_slider {margin-bottom:10px;}
#container{ padding-top:17px; padding-bottom:20px; background:#fff; position:relative; display:block}
#sidebar {
padding:0;
margin-bottom:20px;
}
.page_title_1 {
border-bottom:solid #0278c1 1px;
font-weight:bold;
font-size:21px;
color:#000;
padding:10px 0;
margin-bottom:20px;
}
.page_title_2 {
font-weight:bold;
font-size:43px;
color:#244396;
padding-bottom:2px; 
background:url('../img/page_title_2_bg.png') repeat-x bottom;
margin-bottom:15px;
margin-top:-10px;
}
.page_title_3 {
font-size:20px;
padding:0px 7px;
background:#fff;
color:#244396;
margin-bottom:12px;
}
.page_title_3 .icons {float:right; padding-top:2px;}
.page_title_3 .icons .share {background:url('../img/share_icon.png') no-repeat; width:18px; height:18px; display:inline-block; margin-right:5px; cursor:pointer;}
.page_title_3 .icons .print {background:url('../img/print.png') no-repeat; width:21px; height:21px; display:inline-block; margin-top:1px; cursor:pointer;}
.page_title_6 {font-size:23px; color:#0b2268; font-weight:bold;}
.news_lists {
}
.home_div_3 {margin-bottom:25px}
.home_div_3 a{text-decoration:none;}
.home_div_3 .item{
background:#28479d;
min-height:85px;
color:#fff; 
margin-bottom:20px;
}
.home_div_3 .item:hover {opacity:0.6} 
.home_div_3 .item img {width:100%;}
.home_news_events {border-right:solid #bcbdbe 1px;}
.home_news_events .home_news_event_tab {
background:#c8c8c8;	
display:inline-block; 
width:47px; 
height:47px;
text-align:center;
line-height:20px;
padding-top:7px;
}
.home_news_events .tablist_div {float:right;}
.home_news_events .page_title_6 {display:inline-block; float:none !important;}
.news_div {margin-top:10px; margin-left:-5px;}
.news_div .news_item {margin-bottom:10px;}
.news_div .news_item a{
color:#000;
text-decoration:none;
}
.news_div .news_item .date  {background:#ff7b00; float:left; font-size:13px; line-height:15px; text-align:center; padding: 7px 8px 5px 8px; margin-right:4px; margin-top:3px; color:#fff;}
.news_div .news_item .date  span{font-weight:bold; font-size:23px; display:block;}
.news_div .news_item .text {
padding-top: 7px; 
font-size:15px;
}
.home_news_events .home_news_event_tab {position:relative;z-index:9; margin-right:10px;}
.home_news_events .home_news_event_tab  a {color:#fff; text-decoration:none; display:block; font-size:13px; font-weight:medium;}
.home_news_events .home_news_event_tab:hover {background:#ff7d00}
.home_news_events .home_news_event_tab.active {background:#ff7d00; position:relative;}
.home_news_events .home_news_event_tab.active:after {
content:" ";
width: 0;
height: 0;
border-style: solid;
border-width: 13px 9px 0 9px;
border-color: #ff7d00 transparent transparent transparent;
position:absolute;
bottom:-13px;
left:50%;
margin-left:-9px;
}
.home_news_events  .bx-wrapper .bx-viewport {border:none;}
.tabs_buttons {}
.tabs_buttons  .tab {background:#cacaca; font-size:13px; line-height:15px; text-align:center; padding: 5px 6px 3px 6px; margin-right:4px; margin-top:3px; color:#fff;}
.breadcrumbs {color:#3895ce; margin-bottom:15px;}
.breadcrumbs .your_are_here {
font-weight:bold;	
display:inline;
color:#000;
}
.breadcrumbs li {
display:inline;
padding:0 1px;
}
.breadcrumbs li a {color:#244396;}
.news_lists li {list-style:none; font-size:15px; margin-bottom:27px;}
.news_date {
background:#ff7b00;
color:#fff;
font-size:15px;
padding:2px 3px;
display:inline;
margin-bottom:10px;
margin-right:10px;
}
.page_title_3 .date span{font-weight:bold; font-size:23px; display:block; margin-bottom:3px;}
.page_title_4 {
font-weight:normal;
font-size:22px;
color:#ee571e;
margin-bottom:10px;
}
.page_title_5 {
font-weight:bold;
font-size:27px;
color:#000;
position:relative;
margin-bottom:15px;
}
.page_title_5:after {
content:" ";
border: 0;
height: 1px;
width:100%;
position:absolute;
top:-5px;
left:0;
background-image: linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
background-image: -webkit-linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
background-image: -moz-linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
background-image: -ms-linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
background-image: -o-linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
}
.page_title_5:before {
content:" ";
border: 0;
height: 1px;
width:100%;
position:absolute;
bottom:-5px;
left:0;
background-image: linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
background-image: -webkit-linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
background-image: -moz-linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
background-image: -ms-linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
background-image: -o-linear-gradient(to left, #eaf4fa, #cfe5f3, #cfe5f3, #cfe5f3, #eaf4fa);
}
.page_title_5 .image {float:right; margin-top:-3px}
.page_title_5 .image img {max-height:40px;}
.sidebar_menu {border-top:solid #f35109 4px;}
.sidebar_menu ul{}
.sidebar_menu ul li{
list-style:none;
}
.sidebar_menu ul li a{
background:#fff;
display:block;
padding:10px 7px 10px 0px; 
color:#353a71;
font-size:15px; 
position:relative;
border-bottom:solid #7bbadd 1px;
} 
.sidebar_menu ul li:last-child a{border:none;}
.sidebar_menu ul li.active a,
.sidebar_menu ul li a:hover {
background:#fff;
text-decoration:none;
font-weight:bold;
}
.sidebar_menu ul li a:hover:before,
.sidebar_menu ul li.active a:before { 
content:'';	 
position:absolute;
top:50%;
right:2px;
margin-top:-4px;
width: 0;
height: 0;
border-style: solid;
border-width: 4px 0 4px 5px;
border-color: transparent transparent transparent #353a71;
}
#content { 
padding-left:30px; 
padding-right:0;
padding-bottom:150px;
}
#content_full {
padding:0;
padding-bottom:150px;
}
.sme_service {
background:rgba(18,121,187,1);
background-size:100% 100%;
width:100%;
height:370px;
position:relative;
overflow:hidden;
}
.sme_service .image {position:absolute; opacity:0.2}
.sme_service .image img{height:100%;}
.sme_service .title {
font-size:29px;
color:#fff;		
padding:5px 10px;
position:relative;
z-index:9;
}
.sme_service .text {
font-size:18px;
color:#fff;
padding:5px 10px;
z-index:1;
position:relative;
z-index:9;
}
.sme_service .find_out_more a{
background:url('../img/sme_arrow.png') no-repeat left;
font-size:13px;
color:#fff;
position:absolute;
bottom:10px;
padding-left:40px; 
margin-left:10px;
z-index:1;
}
.sme_service .find_out_more a:hover {
-webkit-animation: background_position 1s infinite; 
-moz-animation:    background_position 1s infinite; 
-o-animation:      background_position 1s infinite;
animation:         background_position 1s infinite; 
}
@keyframes background_position {
from {background-position:0px;}
to {background-position:10px;}
}
#home_subscribe {
margin-top:20px;
}
#home_subscribe .item {
background:#fff;
padding:8px 11px;
color:#1279bb;
min-height:130px;
margin-bottom:20px;
border:solid #2a9df6 1px;
}
#home_subscribe .item .title {
font-size:18px; 
background:#1783c6;
color:#fff;
margin:-13px -13px 5px -13px;
padding:3px 10px;
}
#home_subscribe .item .text {font-size:13px; margin:-3px; margin-top:3px;}
#home_subscribe .item .form-group {color:#000; margin-top:15px;margin-bottom:0}
.input_home{
padding:6px; 
position: relative;
z-index: 2;
float: left;
width: 100%;
margin-bottom: 0;
width:99%;
background:#a0c9e4;
border:none;
color:#fff;
font-size:15px;
}
.input_home::-moz-placeholder {
color: #fff !important;
opacity: 1;
}
.input_home:-ms-input-placeholder {
color: #fff !important;
}
.input_home::-webkit-input-placeholder {
color: #fff !important;
}	
.btn-home {
border-radius:0;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
background:#1279bb;
padding:5px;
margin-top:-1px;
font-size:15px;
color:#fff;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
}
.btn-home-2 {
display:inline-block;
border-radius:3px;
}
.bussiness_ing_georgia {width:100%; height:218px;}
.partner_top {margin-top:10px; padding-bottom:15px; display:inline-block; margin-left:-9px;}
.partner_top .image {text-align:center; height:160px; vertical-align:middle; line-height:100px; width:100%; border:solid #f5f5f5 8px; padding:10px; box-shadow:0 0 10px #ccc;}
.partner_top .image img {}
.partner_top .image .img-responsive{display:inline-block}
.partners_div {margin-left:-10px; margin-right:-10px;}
.partners_div .image {text-align:center;  border: solid #f5f5f5 8px; padding:10px; box-shadow:0 0 10px #ccc;}
.partners_div .col-sm-4 { margin-bottom:8px; margin-top:10px;}
.partners_div .img-responsive{display:inline-block; height:120px;}
.publications {color:#244396;}
.publications a  {color:#244396;}
.publications .item {border:solid #244396 1px; display:inline-block; padding:10px 0px; width:100%; position:relative; margin-bottom:13px;}
.publications .item:hover {opacity:0.6}
.publications .item .download{position:relative; margin-top:23px;}
.publications .item  .download{color:#244396; background:url('../img/arrow_download.png') no-repeat left center; padding-left:30px; }
.publications .item img {width:100%;}
.contact_person {font-size:13px; margin-bottom:25px;} 
.contact_person .image{margin-bottom:5px;} 
.contact_person .image:hover {opacity:0.7;}
.contact_person .image img {width:100%;}
.contact_person .name{
font-weight:bold;
}
.contact_person .work_position{}
.contact_person .email{margin-bottom:25px;}
.gallery_big {position:relative;}
.gallery_big .image {position:relative;}
.gallery_big  img{margin-bottom:5px; min-width:100%; min-height:433px;}
.gallery_big .play_icon {width:76px; height:76px; background:url('../img/play_icon.png'); position:absolute; top:50%; left:50%; margin-left:-38px; margin-top:-38px;}
.gallery_big .image:hover {opacity:0.7;}
.gg-video-image {
margin: 0;
text-align: right !important;
}
.gg-video-image iframe{
width: 100%;
height: 433px;
opacity: 0;
}
a.video_overlay{
display: block;
width: 100%;
height: 433px;
margin-top: -433px !important;
position: relative;
cursor: pointer;
opacity: 1;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
overflow:hidden;
text-align:center;
}
.video_overlay img:hover {opacity:0.6}
.other_gallery {position:relative;}
.other_gallery .item {position:relative; border-bottom:solid #c9caca 1px; padding-bottom:2px; margin-bottom:18px;}
.other_gallery .item .image {position:relative;}
.other_gallery .item .image img{width:100% !important; margin-bottom:5px;}
.other_gallery .item .play_icon {width:76px; height:76px; background:url('../img/play_icon.png'); position:absolute; top:50%; left:50%; margin-left:-38px; margin-top:-38px; z-index:9}
.other_gallery .item:hover .image img{opacity:0.7;}
.other_gallery  .text_formats {padding-bottom:3px; color:#67686a;}
.photo_gallery {color:#244396;}
.photo_gallery .item {margin-bottom:20px; border-bottom:solid #c9caca 1px; padding-bottom:3px;}
.photo_gallery .item  .image {border: solid #f5f5f5 8px; padding:2px; box-shadow:0 0 10px #ccc;}
.photo_gallery .item  .image img {width:100%;}
.photo_gallery .item  .text_formats {margin-top:20px;}
.attachment_div {
border:solid #294397 1px;
padding:5px;
border-radius:3px;
}
.attachment_div .attach_img {
float:left;	margin-right:12px;
}
.attachment_div .attach_info li {list-style:none; font-weight:700; font-size:15px; color:#294397;}
#event_div {margin-top:20px; margin-bottom:20px;}
#event_div .event_line_bg {	background:url('../img/event_line_bg.png') no-repeat left;}
.yellow_title {color:#fea100; font-size:13px; font-weight:bold;}
.yellow_title_19 {color:#fea100; font-size:19px; font-weight:bold; margin-bottom:15px; display:inline-block}
.event_prog {margin-bottom:20px;}
.event_prog .title {
font-size:18px; 
color:#244396;
}
.event_prog ul {margin-top:5px;}
.event_prog ul li {
list-style:none;
font-size:14px;
color:#000;
position:relative;
padding-left:13px;
}
.event_prog ul li label {width:8px; height:8px; background:#f25a0f; margin-right:10px; position:absolute; top:5px; left:0}
.margin_top_30 {margin-top:30px;}
.navigation li{list-style:none; display:inline;}
.navigation li a {padding:1px 4px;  color:#2d4085}
.navigation li.active a,
.navigation li a:hover {
background:#f0510f;
color:#fff;
text-decoration:none;
}
.padding_0 {padding:0;}
.portfolio_image img{width:100%; margin-bottom:10px;}
.projects_person {margin-top:20px; display:inline-block}
.projects_person .first_item {border-left:solid #94a3cc 1px;}
.projects_person .item {border-right:solid #94a3cc 1px;display:inline-block; height:100%; margin-bottom:25px; position:relative;}
.projects_person .item  {min-height:120px;}
.projects_person .item:after {
content:" "; 
width:99%;
height:1px;
position:absolute;
top:-13px;
left:2px;
background:#94a3cc;
}
.projects_person .item:before {
content:" "; 
width:99%;
height:1px;
position:absolute;
bottom:-13px;
left:2px;
background:#94a3cc;
}
.projects_person .image {width:90px; height:90px; margin-right:10px;}
.projects_person .image img {border-radius:50%; width:90px; height:90px;}
.projects_person .text {font-size:14px; font-weight:bold; color:#244396; position:relative;}
.projects_person .text:after {
content:" ";
background:url('../img/text_after.jpg');
width:14px;
height:11px;
position:absolute;
top:0;
left:-15px;
}
.projects_person .text:before {
content:" ";
background:url('../img/text_before.jpg');
width:14px;
height:11px;
position:absolute;
bottom:5px;
right:-5px;
}
.projects_person .name {color:#244396;}
.projects_li .panel-body {padding:0; margin-bottom:30px;}
.projects_li a {text-decoration:none;}
.projects_li li {list-style:none;padding-bottom: 5px;  font-size: 18px;  color: #244396;  font-weight: bold;} 
.projects_li .collapsed li {list-style:none; border-bottom:solid #244396 4px; font-weight:bold; color:#244396; font-size:20px;}
.projects_li:last-child  li{}
.portfolio_project .panel{margin-top:0;}
.portfolio_project .panel-group .panel + .panel{margin-top:0;}
.find_us_map {margin-top:35px;}
.find_us_map span {font-size:15px; font-weight:bold; }
.find_us_map .image {margin-top:8px;}
.find_us_map .image img {width:100%;}
/* END CONTAINER */
.popover {color:#1783c6; font-size:13px; width:160px;}
/* START FOOTER */
footer {margin-top:17px;}
#footer_div {
background:#ffffff;	
color:#25a7f8;
}
#footer_div ul {margin:0; padding:0}
#footer_div a {color:#fff;}
#footer_div a:hover {text-decoration:underline;}
#footer_div > #footer {
padding:15px 15px 40px 15px;
}
#footer_div > #footer #footer_links{
}
#footer_div > #footer #footer_links span {font-weight:bold;}
#footer_div > #footer #footer_links li {
list-style:none;
display:inline;
}
#footer_div > #footer #footer_fb {}
#footer_div > #footer #footer_fb  li {list-style:none; margin-bottom:5px;}
#footer_div_2 {
background:#1783c6;	
color:#fff;
font-weight:bold; 
}
#footer_div_2 > #footer_2 {
padding:10px 15px;
}
#footer_div_2 > #footer_2 li {
list-style:none;	 
}
#footer_div_2 > #footer_2 a {color:#fff;}
/* END FOOTER */
.text_formats_blue {list-style:none; font-size:13px; color:#1783c6; }
.text_formats_blue li {margin-bottom:3px;}
li.text_formats_blue {list-style:none; font-size:13px; color:#1783c6;}
.text_formats_blue span,
li.text_formats_blue span {font-weight:bold; font-size:13px;}
.text_formats_blue p{margin-bottom:20px;}
li.text_formats_blue:last-child {margin-bottom:7px;}
.text_formats_blue a{color:#1783c6 !important;}
.text_formats,
li.text_formats {list-style:none;	font-size:15px;}
.text_formats span,
li.text_formats span {font-weight:bold;}
.text_formats p{margin-bottom:20px;}
.text_formats img {float:left; margin-right:13px;}
.text_formats label{padding-bottom:5px; font-size:18px; color:#244396; font-weight:normal;}
.text_formats label.bold {font-weight:bold;}
.text_formats small {color:#244396; font-size:15px;}
.date_yellow  {background:#ffa100; float:left; font-size:13px; line-height:15px; text-align:center; padding: 5px 6px 3px 6px; margin-right:4px; margin-top:3px; color:#fff;}
.date_yellow  span{font-weight:bold; font-size:23px; display:block;}
.form-control {
border-radius:0px;
border:solid #cdd8dc 1px;
color:#3895ce;
font-size:15px;
box-shadow:none !important;
background:#d9f0fe;
margin-bottom:20px;
}
.form-control:focus {box-shadow:none !important; border:solid #cdd8dc 1px;}
textarea.form-control {height:210px; margin-top:15px;}
.btn-yellow {
background:#ff7b00;
padding:3px 25px;
font-weight:medium;
color:#fff;
font-size:15px;
border-radius:2px;
}
.btn-yellow:hover {color:#fff;}
.btn-yellow.btn-sm {font-size:13px; padding:7px 12px;}
.contact_us_vakansy .panel {border:none !important; box-shadow:none}
.contact_us_vakansy .panel-body {padding:0}
.events_cal_slide {overflow:hidden; border:solid #1783c6 1px;}
#calendar td{border:solid #fff 30px;}
/* CSS used here will be applied after bootstrap.css */
.tab-content .tab-pane {    
position: relative;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {border-bottom:solid #ff7b02 3px;}
/* START EVENT CALENDAR */
#calendar2 {}
#calendar2 .first_tr_bg{
background: #1783c6;
color: #fff;
text-align: center;
font-weight: bold;
font-size: 18px; 
line-height:21px; 
}
#calendar2 .first_tr_bg td {padding:3px;}
#calendar2 {
width: 100.1%; 
line-height: 1.2em; 
text-align: center;
}
#calendar2 thead tr:last-child {
font-size: small;
color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
color:#fff;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
cursor: pointer;
}
#calendar2 tbody td {
position: relative;	  
height: 100%;
line-height: 75px;
color: #fff;
font-weight: bold;
font-size: 39px;
text-align: center;
border:solid #fff 30px;
}
#calendar2 tbody td.no_event { background: #fff;  color: #fff;}
#calendar2 tbody td.no_event div {background:#d9d9d9}
#calendar2 tbody td.not_date {background:none; padding:0 !important; border:0 !important}
#calendar2 .left_arrow {text-align:left;} 
#calendar2 .left_arrow img {margin-left:10px; margin-top:-3px;}
#calendar2 .right_arrow {text-align:right;} 
#calendar2 .right_arrow img {margin-right:10px; margin-top:-3px;}
#calendar2 tbody td.today {
background:#fff; 
}
#calendar2 tbody td.today div {background:#d9d9d9; color: #fff;}
.events_true{ color:white !important; }
.events_true a{ color:white !important; text-decoration: none; display:block;
background: #ffffff; 
background: -moz-linear-gradient(top, #1783c6 0%, #40b5fe 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1783c6), color-stop(100%,#40b5fe));
background: -webkit-linear-gradient(top, #1783c6 0%,#40b5fe 100%);
background: -o-linear-gradient(top, #1783c6 0%,#40b5fe 100%);
background: -ms-linear-gradient(top, #1783c6 0%,#40b5fe 100%);
background: linear-gradient(to bottom, #1783c6 0%,#40b5fe 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1783c6', endColorstr='#40b5fe',GradientType=0 );
cursor:pointer;
}
.popover {position:absolute;}
/* END EVENT CALENDAR */
#YouTubeModalBody {padding-right:8px !important;}
/************************************************************* FOR RESPONSIVE MENU *****************************************************/
/* adjust body when menu is open */
body.slide-active {
overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
position: relative;
padding-top: 70px;
right: 0;
}
#page-content.slide-active {
padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
cursor: pointer;
position: absolute;
line-height: 0;
float: left;
top:60px;
margin: 0;
width: 30px;
height: 40px;
padding: 10px 0 0 0;
border: 0;
background: transparent;
right:3px;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
width: 100%;
display: block;
height: 3px;
margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active  {position:absolute; background:url('../img/menu_x.png'); right:-49.5%; top:80px; 
background-size:100% 100%;
height:25px; width:25px; z-index:999999999999999999999999999; 
}
/*
#slide-nav .navbar-toggle.slide-active:after {content:"1"; color:#24387D; right:0px; font-size:30px; position:absolute; top:25px;
}*/
#slide-nav .navbar-toggle.slide-active a {text-decoration:none;}
#slide-nav .navbar-toggle.slide-active .icon-bar {
display:none;
}
.navbar-header {
position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:992px) { 
#slide-nav #slidemenu  {padding-left:15px;}
#slide-nav .container {
margin: 0;
padding: 0!important;
}
#slide-nav .navbar-header {
margin: 0 auto;
padding: 0 15px;
}
#slide-nav .navbar.slide-active {
position: absolute;
width: 50%;
top: -1px;
z-index: 1000;
}
#slide-nav #slidemenu {	     
right: -100%;
width: 50%;
min-width: 0;
position: absolute;
padding-right: 0;
z-index: 2;
top: 144px;
margin: 0;
text-align:left; 
height:100%;
}
#slide-nav #slidemenu .navbar-nav {
min-width: 0;
width: 100%;
margin: 0;
}
#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
min-width: 0;
width: 100%;
white-space: normal;
background:none;
font-size:13px;
}
.navbar-nav .open .dropdown-menu > li > a {line-height:8px;}
#slide-nav #slidemenu .navbar-nav .dropdown-menu li {list-style:none;}
#slide-nav {
border-top: 0
}
#slide-nav.navbar-inverse #slidemenu {
background: #333
}
/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
#slide-nav #navbar-height-col {
position: absolute;
top: 134px;
height: 100%;
width: 50%;
right: -53%;
background: #fff;
padding-bottom:20px;
-moz-box-shadow:-2px 0px 10px -5px #eee, -5px 0px 5px -5px #333;
-webkit-box-shadow:-2px 0px 10px -5px #eee, -5px 0px 5px -5px #333;
box-shadow:-2px 0px 10px -5px #eee, -5px 0px 5px -5px #333;
}
#slide-nav.navbar-inverse #navbar-height-col {
background: #333;
z-index: 1;
border: 0;
}
#slide-nav .navbar-form {
width: 100%;
margin: 8px 0;
text-align: center;
overflow: hidden;
/*fast clearfixer*/
}
#slide-nav .navbar-form .form-control {
text-align: center
}
#slide-nav .navbar-form .btn {
width: 100%
}
}
@media (min-width:993px) { 
#page-content {
right: 0!important
}
.navbar.navbar-fixed-top.slide-active {
position: fixed
}
.navbar-header {
right: 0!important
}
}
/*Gio */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{ color:white; }
.other_gallery .item .play_icon {width:76px; height:76px; background:url('../img/play_icon.png'); position:absolute; top:50%; left:50%; margin-left:-38px; margin-top:-38px; z-index:9; cursor:pointer;}
.other_gallery .item .buffer_icon { width:36px; height:36px; background:url('../../images/ajax-loader.gif');  background-repeat: no-repeat; background-size: 36px 36px; background-position: center center; position:absolute; top:50%; left:50%; margin-left:-18px; margin-top:-18px; z-index:9; cursor:pointer; display: :none; }
.projects_person {margin-top:20px; display:inline-block; width: 100%; }
.projects_person .item  {min-height:120px; width:100%; }
.text_formats ul{ margin:0; padding:0; list-style-type: none; }
.text_formats ul li{ position: relative; padding-left: 20px; }
.text_formats ul li::after {
content:''; width:8px; height:8px; background:#f25a0f; margin-right:10px; position:absolute; top:5px; left:0
}
#chart_div table { overflow:hidden; table-layout:fixed; }
#chart_div table tr td{ height:auto; overflow: hidden; }
.geofontCaps{ font-family:'bpg_caps'; }
.bunnerText{ margin: 0; padding: 25px; width: 100%; position: absolute; }
.bunnerText h4{ margin: 0; padding: 0; width: 100%; font-size: 25px; }
.bunnerText p{ margin: 0; padding: 0; width: 100%; line-height: 15px; font-size: 13px; }
.bunnerText span{ margin: 0; padding: 0; width: 100%; line-height: 15px; font-size: 13px; }
.attach_info{ min-height: 65px; }
.attach_info ul{ min-height: 65px; }
.attachment_div .attach_info li{ line-height: 30px; }
.gio_10px{ padding: 0 10px; }
#header_2 .logo_text a img{ width:100%; }
#mobile_chart{ display: none; }
.mobile_structure{ margin:0; padding:10px 5px 0 5px; border:0; max-width: 100%;  list-style-type: none; } 
.mobile_structure ul{ margin:0; padding:0; border:0; max-width: 100%;  list-style-type: none; } 
.mobile_structure li{ margin:0; padding:10px 10px 0px 15px; border:0; display: block; } 
.mobile_structure li span{ margin:0; padding:5px; border:0; background-color: #244396; line-height: 18px; color: white; display:block; } 
.dropdown-menu > .active > a:hover{ color: white; }
.modal-title{ display: none; }
.close{ margin:0; padding: 0 !important; text-indent: -9999px; background-image:url("../img/close.png") !important; width: 45px; height: 45px; filter: alpha(opacity=100) !important; opacity: 1 !important; background-size: 45px 45px !important; visibility: hidden; }
.modal-header{ padding: 25px 0px !important }
#subsc{ cursor: pointer; }
#searchinput{ cursor: pointer; }
.modal-open .modal:after{ content:''; margin:0; padding: 0; background-image:url("../img/close.png"); width: 45px; height: 45px; background-size: 45px 45px; position: absolute; right:50px; top: 50px; cursor: pointer; }
@media (min-width: 992px){
#YouTubeModalDialog{ 
width: 800px;
top: 45%;
left: 50%;
position: absolute;
margin-left: -400px;
margin-top: -220px;
}
}
@media (max-width: 992px){
#header_2 .logo_text a img{ width:auto; }
.bunnerText{ padding: 15px; }
.bunnerText h4{ font-size: 20px; }
.slider_info .title{ font-size: 13px !important; }
.slider_info .text{ font-size: 11px !important; }
.enter_the_website a{ font-size: 12px; }
#chart_div{ display: none; }
#mobile_chart{ display: block; }
#slide-nav #slidemenu .navbar-nav .dropdown-menu li a{ line-height: 15px; }
#slide-nav #slidemenu .navbar-nav .dropdown-menu .active a{ color:#ff7b02; }
.attachment_div{ max-height: 95px; overflow: hidden; }
.getsadze_design{ margin-top: 5px; float: left !important; }
.whenfee_mobile{ margin-left: 41px !important; margin-top: 10px; background:none !important; }
}