<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Enterprise</title>
<link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
<link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet"/>
<link href="css/fonts.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
<link href="css/home_slide.css" type="text/css" rel="stylesheet"/>
<link href="css/jquery.bxslider.css" type="text/css" rel="stylesheet"/>
<link href="css/custom_res.css" type="text/css" rel="stylesheet"/> 
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,900' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.0.custom.min.js" ></script>

<script type="text/javascript" src="http://demo.webdeveloperplus.com/featured-content-slider/js/jquery-ui-tabs-rotate.js" ></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/youtube_popup.js"></script>
<script src="js/responsive_menu.js"></script>


</head>
<body id="menu_responsive">
 


 
<header id="header" class="container padding_0">
	<div class="container padding_0">
		<div id="header_line">
			<div class="col-sm-12 text-right padding_0">			
				
			</div>
		</div>
		<div id="header_2">
			<div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 padding_0 logo_text">
				<a href="home.html">
					<img src="img/logo.png"/>
				</a>
			</div>
			<div class="col-sm-8 head_contact padding_0"  style="text-align:right;">
					
				<div class="language">
					<a href="#"><img src="img/eng_flag.jpg"/></a>
					<a href="#" class="active"><img src="img/geo_flag.gif"/></a>
				</div>	
				
				<div id="live_chat_div">
					<li>Online</li>
					<li><span><a href="#">Live Chat</a></span></li>
				</div>
				<div id="header_contact">
					<li>Call us 24/7 on Hotline</li>
					<li><span>+995 32 2 96 00 10</span></li>
				</div>				
				
				<div class="header_search" style="height:50px; margin-top:20px;width:100%;">
					<div class="form-group" style=" text-align:right">
						<div class="input-group" style=""> 
							<input type="text" class="input-sm" placeholder="Search" style="width:180px;"/>
							<span class="input-group-addon" style="margin-right:10px; padding:2px 7px;">
								<div class="glyphicon glyphicon-search"></div>
							</span>
						</div>
					</div>
				</div>
				
				 <div style="position:absolute; right:5px; top:90px; z-index:9999">
					<a class="open_div" href="#nav">
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
					</a>
				 </div>
				 
				 <!-- START MAIN MENU -->
						<div class="navbar navbar-enterprise navbar-fixed-top" role="navigation" id="slide-nav">
							<div class="container">
							 <div class="navbar-header">
								<a class="navbar-toggle"> 
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</a> 
							 </div>
							 <div id="slidemenu" class="dropdown">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#">Home</a></li>
									<li class="dropdown"><a href="#" class="sub_menu_arrow dropdown-toggle" data-toggle="dropdown">About Us</a>
										<ul class="dropdown-menu dropdown-menu-2">
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Mission Statement & objectives</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/team_01.html">Team</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Structure</a></li> 
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Strategy</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Statute</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Annual Report</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#" class="sub_menu_arrow dropdown-toggle" data-toggle="dropdown">About Georgia</a>
										<ul class="dropdown-menu dropdown-menu-2">
											<li><a href="http://developer.404.ge/markup/Enterprise_html/about_georgia.html">Country Profile</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Doing Bussiness in georgia</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Facts and figures</a></li> 
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">usefull information</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">usefull links</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#" class="sub_menu_arrow dropdown-toggle" data-toggle="dropdown">What We do </a>
										<ul class="dropdown-menu dropdown-menu-2">
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Access To finance</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Trainigs & consulting</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Export Promotion</a></li>  
										</ul>
									</li>
									<li class="dropdown"><a href="#" class="sub_menu_arrow dropdown-toggle" data-toggle="dropdown">Portfolio</a>
										<ul class="dropdown-menu dropdown-menu-2">
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Portoflio.html">Ongoing Project</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Portoflio.html">Upcoming Projects</a></li>  
										</ul>
									</li>
									<li class="dropdown"><a href="#" class="sub_menu_arrow dropdown-toggle" data-toggle="dropdown">Download Center</a>
										<ul class="dropdown-menu dropdown-menu-2">											
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Program presentations</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Trade statistic</a></li>  
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Enterpreneurship Statistics</a></li>  
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Legal Framework</a></li>  
										</ul>
									</li>
									<li class="dropdown"><a href="#" class="sub_menu_arrow dropdown-toggle" data-toggle="dropdown">Media Center</a>
										<ul class="dropdown-menu dropdown-menu-2">
											<li><a href="http://developer.404.ge/markup/Enterprise_html/news.html">News</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/events.html">Events</a></li>
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Photo_Gallery.html">Photo Gallery</a></li>  
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Gallery.html">Video Gallery</a></li>  
											<li><a href="http://developer.404.ge/markup/Enterprise_html/Publications.html">Publications</a></li>   
										</ul>
									</li>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>          
							 </div>
							</div>
						  </div>
					<!-- END MAIN MENU -->	
								
			</div>
		</div>
	</div>	
</header>




<div class="container" id="container" style="padding-top:0; padding-bottom:0">
	 
	<div class="row">
		<div class="col-sm-12" id="content_full" style="padding-bottom:0">
			<div class="home_slider">
			
			
				<div id="featured" style="width:100%;">
					
					<div class="col-sm-8 padding_0">
						<div id="fragment-1" class="ui-tabs-panel" style="">
							<a href="news.html"><img src="img/home_slide.jpg" alt="" />
								<div class="slider_info">
									<div class="title">Georgia Agriculture</div>
									<div class="text">We Are nominated as a best Enterprenuers in region</div>
								</div>	
							</a>
						</div>
						<div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style="">
							<a href="news.html"><img src="img/home_slide.jpg" alt="" />
								<div class="slider_info">
									<div class="title">Georgia Agriculture</div>
									<div class="text">We Are nominated as a best Enterprenuers in region</div>
								</div>	
							</a>	
						</div>
						<div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style="">
							<a href="news.html"><img src="img/home_slide.jpg" alt="" />
								<div class="slider_info">
									<div class="title">Georgia Agriculture</div>
									<div class="text">We Are nominated as a best Enterprenuers in region</div>
								</div>	
							</a>	
						</div>
						<div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style="">
							<a href="news.html"><img src="img/home_slide.jpg" alt="" />
								<div class="slider_info">
									<div class="title">Georgia Agriculture</div>
									<div class="text">We Are nominated as a best Enterprenuers in region</div>
								</div>	
							</a>	
						</div> 
					</div>	
					
					<div class="col-sm-4 padding_0">			
						<ul class="ui-tabs-nav">
							<li class="ui-tabs-nav-item" id="nav-fragment-1">
								<a href="#fragment-1">
									<div>
										<span>Become Export In georgia agriculture</span><br/>
										The meetings has been held in barselona summit 2015
									</div>	
								</a>
							</li>

							<li class="ui-tabs-nav-item" id="nav-fragment-2">
								<a href="#fragment-2">
									<div>
										<span>watch the infographic statistics georgia</span><br/>
										the tv add has been created to inform tranding statistics in georgia and its regions
									</div>
								</a>
							</li>
							<li class="ui-tabs-nav-item" id="nav-fragment-3">
								<a href="#fragment-3">
									<div>
										<span>Latest tender announcment</span><br/>
										we are giving away 5.000000 million georgian lari to georgian manufacturers
									</div>
								</a>
							</li>

							<li class="ui-tabs-nav-item" id="nav-fragment-4">
								<a href="#fragment-4">
									<div>
										<span>are you an investor? learn georgian trade</span><br/>
										trade with us - event has been held in tbilisi mariott
									</div>
								</a>
							</li> 	
						
						</ul>
					</div>
					
				</div>
			
			
			</div>
			
			<div class="page_title_6">Multimedia</div>
			
			
			<div class="col-sm-12 padding_0">
				<div class="other_gallery">
					<div class="row">
						<div class="col-sm-4">
							<div class="item">
								<a class="youtube" href="https://www.youtube.com/watch?v=a3UOkB8nuVA">
									<div class="image"><img src="img/other_video_1.jpg" class="img-responsive"/>
										<div class="play_icon"></div>
									</div>									
								</a>
								<div class="text_formats">
									This new TV add explores the possibilities of micro financing project from our organization.
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="item">
								<a class="youtube" href="https://www.youtube.com/watch?v=a3UOkB8nuVA">
									<div class="image"><img src="img/other_video_2.jpg" class="img-responsive"/>
										<div class="play_icon"></div>
									</div>									
								</a>
								<div class="text_formats">
									Georgian economy is growing and we are happy to be the part of this big proccess.
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="home_div_3">
								<div class="row">
									<div class="col-sm-12">
										<a href="#">
											<div class="item">					
												<img src="img/produce_in_georgia.jpg" class="img-responsive"/>							
											</div>
										</a>	
									</div>
									<div class="col-sm-12">
										<a href="#">
											<div class="item">					
												<img src="img/trade_with_georgia.jpg" class="img-responsive"/>						
											</div>
										</a>
									</div>
								</div>	
							</div>
						</div>
						
					</div>
				</div>				
			</div>
			 
			<div class="row">
				<div class="col-sm-12 padding_0">
					
					<div class="col-sm-4">
						<div class="home_news_events" role="tabpanel">			
							<ul class="tablist_div" role="tablist">
								
								<li class="active home_news_event_tab">
									<a href="#home_news" role="tab" data-toggle="tab">
										<img src="img/home_news_tab.png"/>
										News
									</a>
								</li>
								<li class="home_news_event_tab">
									<a href="#home_events" role="tab" data-toggle="tab">
										<img src="img/home_events_tab.png"/>
										Events
									</a>
								</li>
							</ul>

							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home_news">	
									<div class="page_title_6" style="float:left;">News</div>									
										<ul class="hone_news_slide">										
										<div>
											<div class="news_div">												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>																						
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
											</div>	
										</div>									
										
										<div>
											<div class="news_div">												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>																						
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
											</div>	
										</div>
										
										<div>
											<div class="news_div">												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>																						
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>01</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
											</div>	
										</div>
										
										
										
									</ul>		
								</div>
								<div role="tabpanel" class="tab-pane fade" id="home_events">	

							<div class="page_title_6" style="float:left;">Events</div>									
									<ul class="hone_news_slide2">
										
										<div>
											<div class="news_div">												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>																
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
											</div>	
										</div>
										
										<div>
											<div class="news_div">												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>																
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
											</div>	
										</div>
										
										<div>
											<div class="news_div">												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>																
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>
												<div class="col-sm-12 news_item">
													<a href="#">
														<div class="date"><span>02</span> May</div>
														<div class="text">Trade with Georgia is the new website for international people.</div>
													</a>	
												</div>												
											</div>	
										</div>
										
										
										
									</ul>		
								</div>
							</div>
							
						</div>
					</div>
					
					
					<div class="col-sm-4">
						<div class="sme_service">
							<div class="image"><img src="img/sme_service.jpg" class="img-responsive"/></div>
							<div class="title">SME - Service center</div>
							<div class="text">Do you want to become qulified bussinesman? now is the time to ...</div>
							<div class="find_out_more"><a href="#">Find Out More</a></div>
						</div>
					</div>
					
					
					
					<div class="col-sm-4">
						
						<div class="bussiness_ing_georgia">
							<!-- <img src="img/bussiness_ing_georgia.jpg"/> -->
							<img src="img/bussiness_ing_georgia.jpg"/>
						</div>
					
						<div id="home_subscribe">
							<div class="row">
								<div class="col-sm-12">
									<div class="item">
										<div class="title">Subscribe to E-newsletter</div>
										<div class="text">Join the Enterprise Georgias mailling list and be the first to know about special information.</div>
										<div class="form-group">
											<div class="input-group"> 
												<input type="text" class="input_home" placeholder="Your Email Address"/>
												<div class="input-group-addon btn-home">Subscribe</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					
					
				</div>
			</div>

			
			
			
			
		</div>
	</div>
	
</div>






<!-- START FOOTER -->
<footer class="container padding_0">
	<div id="footer_div">
		<div id="footer" class="container">
			<div class="row">
				<div class="col-sm-2">
					<ul class="text_formats_blue">
						<li><a href="#"><span>About Us</span></a></li>
						<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Mission Statement & objectives</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/team_01.html">Team</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Structure</a></li> 
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Strategy</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Statute</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Annual Report</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<ul class="text_formats_blue">
						<li><span>About Georgia</span></li>	
						<li><a href="http://developer.404.ge/markup/Enterprise_html/about_georgia.html">Country Profile</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Doing Bussiness in georgia</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Facts and figures</a></li> 
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">usefull information</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">usefull links</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<ul class="text_formats_blue">
						<li><a href="#"><span>What We DO</span></a></li>
						<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Access To finance</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Trainigs & consulting</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Export Promotion</a></li>  
					</ul>
				</div>

				<div class="col-sm-2">
					<ul class="text_formats_blue">
						<li><a href="#"><span>Portfolio</span></a></li>
						<li><a href="http://developer.404.ge/markup/Enterprise_html/Portoflio.html">Ongoing Project</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Portoflio.html">Upcoming Projects</a></li> 
					</ul>
				</div>

				<div class="col-sm-2">
					<ul class="text_formats_blue">
						<li><a href="#"><span>Downloads & Presentation</span></a>
						<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Sector Studies</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Program presentations</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Trade statistic</a></li>  
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Enterpreneurship Statistics</a></li>  
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Mission.html">Legal Framework</a></li>
					</ul>
				</div>
				
				<div class="col-sm-2">
					<ul class="text_formats_blue">
						<li><a href="#"><span>Media Center</span></a></li>
						<li><a href="http://developer.404.ge/markup/Enterprise_html/news.html">News</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/events.html">Events</a></li>
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Photo_Gallery.html">Photo Gallery</a></li>  
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Gallery.html">Video Gallery</a></li>  
										<li><a href="http://developer.404.ge/markup/Enterprise_html/Publications.html">Publications</a></li>
						<br/>
						<!-- <li><a href="#"><span>Our Partners</span></a></li>
						<li><a href="#"><span>Contact Us</span></a></li> -->
						<li><a href="http://developer.404.ge/markup/Enterprise_html/Partners.html">Partners</a></li>
								<li><a href="http://developer.404.ge/markup/Enterprise_html/contact_us.html">Contact Us</a></li>
					</ul>
				</div>
			</div>
			
			
			<div class="left_social_div">
				<ul>
					<li><a href="#"><img src="img/linkedin.png"/></a></li>
					<li><a href="#"><img src="img/twitter.png"/></a></li>
					<li><a href="#"><img src="img/facebook.png"/></a></li>
					<li><a href="#"><img src="img/youtube.png"/></a></li>
					<li><a href="#"><img src="img/instagram.png"/></a></li>
				</ul>
			</div>
			
			
		</div>	
	</div>	
	<div id="footer_div_2">
		<div id="footer_2" class="container">
			<div class="col-sm-4 padding_0">
				<li>Tbilisi Office:</li>
				<li>Faliashvili street 80, 0179, Tbilisi, Georgia</li>
				<li>Tel: +995 322339893</li>
				<li>E-Mail: info@enterprise.ge</li>
			</div>
			<div class="col-sm-2 padding_0">
				<li>Hotline 24/7</li>
				<li>+995 32 2 96 00 10</li>
				<li><a href="#">Online Help Chat</a></li>
			</div>
			<div class="col-sm-4 padding_0">
				<li>Donor Organization:</li>
				<a href="#"><img src="img/donor_org.png"/></a>
			</div>
			<div class="col-sm-2 padding_0 text-right getsadze_design">
				<img src="img/getsadze_design.png"/>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER -->
 
 

 
 
 
<script type='text/javascript'>        
	$(document).ready(function() {        
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {    
			var target = $(this).attr('href');  
			  
			$(target).css('right','-'+$(window).width()+'px');   
			var left = $(target).offset().left;
			$(target).css({left:left}).animate({"left":"0px"}, "10");
		})        
	});        
</script>
 
 
 <script type="text/javascript">
	var xx = 1;
	$('.hone_news_slide').bxSlider({
			nextSelector: '#slider-next',
			prevSelector: '#slider-prev', 
			autoControls: true
		});
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		if(xx==1){
			$('.hone_news_slide2').bxSlider({
				nextSelector: '#slider-next',
				prevSelector: '#slider-prev', 
				autoControls: true
			});
			xx++;
		}
	})

	
	$(function () {
		$(".youtube").YouTubeModal({autoplay:0, width:'100%', height:'400'});
	});
	
	function nextImage(){
		$("#featured").tabs("rotate", 1000, true);
	}
 
	$(document).ready(function(){
		$("#featured").tabs({
			fx:{opacity: "toggle"}
		});
		setInterval("nextImage()",3000); 
	});
	
	
	
	
	
	
	
	
	
//Initial load of page
	$(document).ready(sizeContent);

	//Every resize of window
	$(window).resize(sizeContent);

	//Dynamically assign height
	function sizeContent() {
		var newHeight = $("#menu_responsive").height() - $("#header").height();
		$("#navbar-height-col").css("height", newHeight);
	}
</script>
 

</body>
</html>